/* ********** FONT ************ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --nav-color: #2C1616;
    --primary-web-color: #854AF6;
    --secondary-web-color: #52C5FB;
    --font-btn-color: #1C1C1F;
    --footer-color: #161616;
    --secondary-font-color: #DADEF7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-size: 16px;
}

body{
    width: 100dvw;
    height: 100dvh;
    overflow-x: hidden;
}

.main-container{
    max-width: 1200px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 50%;
}

/* ************ NAVBAR START ************* */

#navbar{
    padding-block: 25px;
    background-color: #fff;
    position: sticky;
    top: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

nav .logo{
    font-size: 22px;
    color: var(--font-btn-color);
    font-weight: 600;
}

nav .logo span{
    color: var(--primary-web-color);
    margin-right: 5px;
    font-size: 22px;
}

nav .list-and-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

nav ul li{
    margin-right: 25px;
    cursor: pointer;
}

nav ul li a{
    color: var(--nav-color);
    transition: all 0.15s ease;
}

nav ul li a:hover{
    color: var(--primary-web-color);
}

nav .list-and-btn .ide-btn{
    padding: 10px 32px;
    border: none;
    font-size: 16px;
    background-color: var(--primary-web-color);
    font-weight: 500;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

nav .list-and-btn .ide-btn{
    transition: all 0.5s ease;
}

nav .list-and-btn .ide-btn:hover{
    background-color: #681df3;
}

nav .list-and-btn .ide-btn:active{
    transform: scale(0.9);
}

/* ************ NAVBAR END ************* */

/* ************* HERO SECTION START *************** */

#hero{
    background: linear-gradient(to bottom right, var(--primary-web-color), var(--secondary-web-color));
}

.hero-div .hero-info-div h1{
    font-size: 50px;
    color: #fff;
    line-height: 3.5rem;
    margin-bottom: 20px;
}

.hero-div .hero-info-div p{
    color: var(--secondary-font-color);
    margin-bottom: 40px;
    font-size: 17px;
    font-weight: 500;
}

.hero-div .hero-info-div a{
    padding: 15px 40px;
    background-color: var(--font-btn-color);
    color: #fff;
    border-radius: 50px;
    font-weight: 600;
    font-size: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
}

.hero-div .hero-info-div a:hover{
    color: var(--font-btn-color);
    background-color: #fff;
}

.hero-div .hero-img-div{
    width: 1800px;
}

.hero-div .hero-img-div img{
    width: 100%;
}

/* ************* HERO SECTION END *************** */